nav {
    background-color: #000077 ;
    color:white;
    height: 2em;
    position: relative;
    padding-top: 1em;
}

nav a:visited{
    text-decoration-style: none;
}

nav a{
    color:white;
    height: 100%;
    
}

nav span, nav a
{
    cursor: pointer;
    padding-left: 5px;
    position: relative;
}

nav span:last-child span{
    cursor: default;
}

nav span:last-child{
    float: right;
    right: 1em;

}

.story{
    border: solid black 3px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.story h2{
    margin-top: 5px;
    margin-bottom: 10px;
}