html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#nav-div {
    height: 3em;
}

nav {
    background-color: #000077 ;
    color: White;
    width: 100%;
    height: 3em;
    position: fixed;
}

nav a:visited{
    text-decoration-style: none;
}

nav ul {
    padding: 0;
    display: block;
}

nav a {
    color: White;
}

nav li {
    cursor: default;
    display: inline-block;
    padding-left: 10px;
}

nav li:last-child li{
    cursor: default;
}

nav li:last-child{
    padding-right: 10px;
    float: right;
    right: 1em;
}

.story {
    border: solid black 3px;
    border-radius: 10px;
    margin: 5px;
    display: relative;
}

.story h2{
    margin: 5px 10px 5px;
}

.story p {
    display: block;
    position: relative;
    margin: 1px 10px;
    width: max-content;
}

#delete-button {
    border: 1px solid LightSlateGray;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    background-color: White;
    top: -26px;
    right: 5px;
    float: right;
}

