{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='storystyle.css') }}">
  <div id="body-div">
    <div id="header-div">
      <h1 class="header">Storyboard</h1>
    </div>

    <div class="page-div" id="page-div">
      <span class="margin-span"></span>
      <div class="kan-col" id="backlog-col" ondrop="drop(event)" ondragover="allowDrop(event)" value="0">
        <h2 class="kan-col-header">Backlog</h2>
        {% for story in stories %}
          {% if story[5] == 0 %}
          <div id={{story[0]}} class="story" draggable="true" ondragstart="drag(event)">
            <h3>{{story[1]}}</h3>
            <p class="story-p">{{story[2]}}</p>
            <p class="story-p">Priority: {{story[3]}}</p>
            <p class="story-p">Due: {{story[4]}}</p>
            <div class="story-p" id="delete-button" onclick="delete_story({{story[0]}})">Delete</div>
          </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="kan-col" id="progress-col" ondrop="drop(event)" ondragover="allowDrop(event)" value="1" >
        <h2 class="kan-col-header">Progress</h2>
        {% for story in stories %}
          {% if story[5] == 1 %}
          <div id={{story[0]}} class="story" draggable="true" ondragstart="drag(event)">
            <h3>{{story[1]}}</h3>
            <p class="story-p">{{story[2]}}</p>
            <p class="story-p">Priority: {{story[3]}}</p>
            <p class="story-p">Due: {{story[4]}}</p>
            <div class="story-p" id="delete-button" onclick="delete_story({{story[0]}})">Delete</div>
          </div>
        {% endif %}
        {% endfor %}
      </div>

      <div class="kan-col" id="review-col" ondrop="drop(event)" ondragover="allowDrop(event)" value="2">
        <h2 class="kan-col-header">Review</h2>
        {% for story in stories %}
          {% if story[5] == 2 %}
          <div id={{story[0]}} class="story" draggable="true" ondragstart="drag(event)">
            <h3>{{story[1]}}</h3>
            <p class="story-p">{{story[2]}}</p>
            <p class="story-p">Priority: {{story[3]}}</p>
            <p class="story-p">Due: {{story[4]}}</p>
            <div class="story-p" id="delete-button" onclick="delete_story({{story[0]}})">Delete</div>
          </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="kan-col" id="done-col" ondrop="drop(event)" ondragover="allowDrop(event)" value="3">
        <h2 class="kan-col-header">Done</h2>
        {% for story in stories %}
          {% if story[5] == 3 %}
          <div id={{story[0]}} class="story" draggable="true" ondragstart="drag(event)">
            <h3>{{story[1]}}</h3>
            <p class="story-p">{{story[2]}}</p>
            <p class="story-p">Priority: {{story[3]}}</p>
            <p class="story-p">Due: {{story[4]}}</p>
            <div class="story-p" id="delete-button" onclick="delete_story({{story[0]}})">Delete</div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <span class="margin-span"></span>
    </div>
  </div>

{% endblock %}
