{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='storystyle.css') }}">
  <div id="body-div">
    <h1 class="header">Storyboard</h1>

    <div class="page-div" id="page-div">
      <div class="kan-col" id="backlog-col">
        <h2 class="kan-col-header">Backlog</h2>
        {% for story in stories %}
          <div id={{story[0]}} class="story">
            <h3>{{story[1]}}</h3>
            <p class="story-p">{{story[2]}}</p>
            <p class="story-p">Priority:{{story[3]}}</p>
            <p class="story-p">Due:{{story[4]}}</p>
            <div class="story-p" id="delete-button" onclick="delete_story({{story[0]}})">Delete</div>
          </div>
        {% endfor %}
      </div>

      <div class="kan-col" id="progress-col">
        <h2 class="kan-col-header">Progress</h2>
        {% for story in stories %}
          <div id={{story[0]}} class="story">
            <h3>{{story[1]}}</h3>
            <p class="story-p">{{story[2]}}</p>
            <p class="story-p">Priority:{{story[3]}}</p>
            <p class="story-p">Due:{{story[4]}}</p>
            <div class="story-p" id="delete-button" onclick="delete_story({{story[0]}})">Delete</div>
          </div>
        {% endfor %}
      </div>

      <div class="kan-col" id="review-col">
        <h2 class="kan-col-header">Review</h2>
        {% for story in stories %}
          <div id={{story[0]}} class="story">
            <h3>{{story[1]}}</h3>
            <p class="story-p">{{story[2]}}</p>
            <p class="story-p">Priority:{{story[3]}}</p>
            <p class="story-p">Due:{{story[4]}}</p>
            <div class="story-p" id="delete-button" onclick="delete_story({{story[0]}})">Delete</div>
          </div>
        {% endfor %}
      </div>

      <div class="kan-col" id="done-col">
        <h2 class="kan-col-header">Done</h2>
        {% for story in stories %}
          <div id={{story[0]}} class="story">
            <h3>{{story[1]}}</h3>
            <p class="story-p">{{story[2]}}</p>
            <p class="story-p">Priority:{{story[3]}}</p>
            <p class="story-p">Due:{{story[4]}}</p>
            <div class="story-p" id="delete-button" onclick="delete_story({{story[0]}})">Delete</div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}
